:root {
    --background-color: rgba(0, 0, 0, 0.4);
    --text: #ffffff;
    --text-especial: #ffff00;
    --btnsub: #ADFF2F;
    --btntext: #000000;
}

@media (max-width: 992px) {

    header {
        width: 100%;

    }

    .menu-carrito {
        display: flex;
        gap: 30px;
    }

    .cart-icon {
        width: 50px;
        margin: 0;
        order: 2;
    }

    .nav-list {
        position: absolute;
        top: 65px;
        left: 70%;
        width: 90%;
        flex-direction: column;
        background-color: var(--text-especial);
        border: 2px solid white;
        border-top: 0;
        border-radius: 0 0 15px 15px;
        align-items: flex-start;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        display: none;
        order: 1;
    }

    .open-menu {
        display: flex;
    }

    .menu-label {
        display: flex;
        order: 1;
        cursor: pointer;
        margin-right: 20px;
    }





    .nav-list li {
        color: black;
        border: none;
    }

    .nav-list li:hover {
        background-color: var(--btntext);
        color: var(--text);
    }


    #Portada {
        background-size: contain;

    }

    #text-content {
        padding-left: 0;
        width: 100%;
        margin-bottom: 80px;
        gap: 20px;

    }

    .span-text {
        font-size: 30px;
        width: 50%;
    }

    .tittle-gym {
        width: 50%;
    }

    .botones {
        width: 50%;
        margin-top: 30px;
    }

    .cart-bubble {
        position: absolute;
        top: 40px;
        right: 120px;
        background-color: var(--text);
        color: var(--btntext);
        font-size: 14px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #button {
        display: block;
        margin: 0 auto;

    }

    #categories-container {
        flex-wrap: wrap;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-group {
        display: flex;
        flex-direction: column;
    }

    .card {
        margin-bottom: 40px;
    }

    #about-us {
        height: 200px;
        padding: 0;
        min-height: 700px;
    }

    .p-about {
        font-size: 28px;
        font-weight: 600;
    }

    .secondp {
        font-size: 25px;
        font-weight: 600;

    }

    .container-about {
        margin-top: 0;
    }

    .carrusel-container {
        display: none;
    }

    .carrusel-img {
        width: 250px;
        height: 250px;
        margin-top: 30px;

    }

    .menu-container {
        height: 40px;
        margin-top: 4px;
    }

    .menu-label {
        display: flex;
        order: 10;
        cursor: pointer;
    }

    .menu-container {

        gap: 20px;

    }

    #main_registro {
        background-size: contain;
    }

}

@media (max-width: 732px) {
    .span-text {
        font-size: 20px;
    }

    .tittle-gym {
        font-size: 25px;
    }

    .btn-ri {
        font-size: 25px;
    }
}

@media (max-width: 576px) {



    #portada {
        background-image: url(/Assets/bgs/bg1.jpg);
    }

    .span-text {
        font-size: 30px;
        width: 100%;
    }

    .tittle-gym {
        width: 100%;
    }

    .botones {
        width: 100%;
        margin-top: 30px;
    }


    #text-content {
        justify-content: center;

    }

    .p-about {
        font-size: 15px;
        width: 90%;
        margin-left: 25px;
    }

    .menu-container {
        display: block;
        cursor: pointer;
        margin-top: 10px;
    }

    .navli {
        padding: 10px 0;
    }

    .categories {

        flex-wrap: wrap;
    }

    .secondp {
        margin-left: 25px;
        font-size: 15px;
        width: 90%;
    }

    #about-us {
        min-height: 400px;
    }

    .carrusel-container {
        display: none;
    }



    .h3_con {
        font-size: 20px;
    }

    .formulario {
        height: 400px;
    }
}