:root {
    --background-color: rgba(0, 0, 0, 0.4);
    --text: #ffffff;
    --text-especial: #ffff00;
    --btnsub: #ADFF2F;
    --btntext: #000000;
}

@media (max-width: 992px) {
    header {
        width: 100%;
    }


    .nav-list {
        position: absolute;
        top: 65px;
        left: 5%;
        right: 5%;
        width: 90%;
        flex-direction: column;
        background-color: var(--text-especial);
        border: 2px solid white;
        border-top: 0;
        border-radius: 0 0 15px 15px;
        align-items: flex-start;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        display: none;



    }

    .nav-list li {
        color: black;
        border: none;
    }

    .nav-list li:hover {
        background-color: var(--btntext);
        color: var(--text);
    }

    header {
        justify-content: space-between;
    }



    #products {
        height: 3200px;
    }

    #Portada {
        background-size: contain;
        height: 760px;
    }

    #text-content {
        padding-left: 0;
        width: 100%;
        margin-bottom: 80px;

    }

    .span-text {
        font-size: 60px;
    }

    #button {
        display: block;
        margin: 0 auto;

    }

    #categories-container {
        flex-wrap: wrap;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-group {
        display: flex;
        flex-direction: column;
    }

    .card {
        margin-bottom: 40px;
    }

    #about-us {
        height: 700px;
    }

    .p-about {
        font-size: 20px;
    }

    .secondp {
        font-size: 20px;

    }

    .container-about {
        margin-top: 0;
    }

    .carrusel-container {
        margin-top: 0;
        gap: 20px;
    }

    .carrusel-img {
        width: 250px;
        height: 250px;
        margin-top: 30px;

    }

    .menu-container {
        height: 40px;
        margin-top: 4px;
    }

    .menu-label {
        display: flex;
        order: 10;
        cursor: pointer;
    }

    .menu-container {
        display: flex;
        gap: 20px;

    }

    #main_registro {
        background-size: contain;
    }

}

@media (max-width: 576px) {
    .nav-list {
        position: absolute;
        top: 65px;
        left: 5%;
        right: 5%;
        width: 90%;
        flex-direction: column;
        background-color: white;
        border: 2px solid white;
        border-top: 0;
        border-radius: 0 0 15px 15px;
        align-items: flex-start;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
    }

    header {
        flex-direction: column;
    }

    #navbar-link {
        display: none;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #Portada {
        background-image: none;
    }

    #text-content {
        justify-content: center;

    }

    .p-about {
        font-size: 15px;
        width: 90%;
        margin-left: 25px;
    }

    .menu-container {
        display: block;
        cursor: pointer;
        margin-top: 10px;
    }

    .navli {
        padding: 10px 0;
    }

    .open-menu {
        transform: translateX(0);
        display: flex;
    }

    .secondp {
        margin-left: 25px;
        font-size: 15px;
        width: 90%;
    }

    #about-us {
        height: 400px;
    }

    .carrusel-container {
        display: none;
    }

    #contacto {
        height: 600px;
    }

    .h3_con {
        font-size: 20px;
    }

    .formulario {
        height: 400px;
    }
}